<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head></head>

<th:block layout:fragment="customJs">
  <script>
      $(document).ready(function () {
          $('body').on('click', '.add-button', function () {
              const row = $(this).closest('tr');

              const companyId = row.find('td[data-key="companyId"]').text();
              const companyName = row.find('td[data-key="companyName"]').text();
              const companyLicense = row.find('td[data-key="companyLicense"]').text();
              const companyAddress = row.find('td[data-key="companyAddress"]').text();

              Swal.fire({
                  title: '사업자등록',
                  html:
                      `<form id="add-company-form">
                      <input  type="hidden" id="add-companyId" name="companyId" value="${companyId}"/>
                      <div class="form-group">
                          <label for="add-companyName">사업자상호명:</label>
                          <input class="form-control" id="add-companyName"
                                 name="companyName" value="${companyName}"
                                 type="text"/>
                      </div>
                        <div class="form-group">
                          <label for="add-companyType">사업자종류:</label>
                            <select class="form-control" id="add-companyType"
                          name="companyType">
                              <option value="LOGISTICS_PROVIDER">물류회사</option>
                              <option value="CUSTOMER">바이어</option>
                              <option value="SUPPLIER">공급회사</option>
                            </select>
                      </div>
                      <div class="form-group">
                          <label for="add-companyLicense">사업자번호:</label>
                          <input class="form-control" id="add-companyLicense"
                                 name="companyLicense" value="${companyLicense}"
                                 type="text"/>
                      </div>
                      <div class="form-group">
                          <label for="add-companyAddress">사업자주소:</label>
                          <input class="form-control" id="add-companyAddress"
                                 name="companyAddress" value="${companyAddress}"
                                 type="text"/>
                      </div>
                  </form>`,
                  showCancelButton: true,
                  confirmButtonText: '등록',
                  cancelButtonText: '최소',
                  preConfirm: () => {
                      const form = document.getElementById('add-company-form');
                      $.ajax({
                          url: '/company/addCompanyView',
                          method: 'POST',
                          data: {
                              companyId: $('#add-companyId').val(),
                              companyName: $('#add-companyName').val(),
                              companyType: $('#add-companyType').val(),
                              companyLicense: $('#add-companyLicense').val(),
                              companyAddress: $('#add-companyAddress').val(),
                          },
                          success: function (response) {
                              Swal.fire('Success!', '성공적으로 등록되었습니다.', 'success')
                                  .then(() => {
                                      location.reload();
                                  });
                          },
                          error: function () {
                              Swal.fire('Error!', '수정에 등록했습니다.', 'error');
                          },
                      });
                  }
              }).then((result) => {
                  if (result.isConfirmed) {
                  }
              });
          });
      });


      $('body').on('click', '.edit-button', function () {
          const row = $(this).closest('tr');

          const companyId = row.find('td[data-key="companyId"]').text();
          const companyName = row.find('td[data-key="companyName"]').text();
          const companyLicense = row.find('td[data-key="companyLicense"]').text();
          const companyAddress = row.find('td[data-key="companyAddress"]').text();

          Swal.fire({
              title: '사업자수정',
              html:
                  `<form id="edit-companyInfo-form">
                      <input  type="hidden" id="edit-companyId" name="companyId" value="${companyId}"/>
                      <div class="form-group">
                          <label for="edit-companyName">사업자상호명:</label>
                          <input class="form-control" id="edit-companyName"
                                 name="companyName" value="${companyName}"
                                 type="text"/>
                      </div>
                       <div class="form-group">
                          <label for="edit-companyType">사업자종류:</label>
                            <select class="form-control" id="edit-companyType"
                          name="companyType">
                              <option value="LOGISTICS_PROVIDER">물류회사</option>
                              <option value="CUSTOMER">바이어</option>
                              <option value="SUPPLIER">공급회사</option>
                            </select>
                      </div>
                      <div class="form-group">
                          <label for="edit-companyLicense">사업자번호:</label>
                          <input class="form-control" id="edit-companyLicense"
                                 name="companyLicense" value="${companyLicense}"
                                 type="text"/>
                      </div>
                      <div class="form-group">
                          <label for="edit-companyAddress">사업자주소:</label>
                          <input class="form-control" id="edit-companyAddress"
                                 name="companyAddress" value="${companyAddress}"
                                 type="text"/>
                      </div>
                        <div class="form-group">
                           <label for="edit-companyIsDeleted">탈퇴여부:</label>
                           <select class="form-control" id="edit-companyIsDeleted"
                                   name="companyIsDeleted">
                           <option value="Y">Y</option>
                           <option value="N">N</option>
                            </select>
                      </div>
                  </form>`,
              showCancelButton: true,
              confirmButtonText: '등록',
              cancelButtonText: '최소',
              preConfirm: () => {
                  const form = document.getElementById('edit-companyInfo-form');
                  $.ajax({
                      url: '/company/updateCompanyView',
                      method: 'POST',
                      data: {
                          companyId: $('#edit-companyId').val(),
                          companyName: $('#edit-companyName').val(),
                          companyType: $('#edit-companyType').val(),
                          companyLicense: $('#edit-companyLicense').val(),
                          companyAddress: $('#edit-companyAddress').val(),
                          companyIsDeleted: $('#edit-companyIsDeleted').val(),
                      },
                      success: function (response) {
                          Swal.fire('Success!', '성공적으로 수정되었습니다.', 'success')
                              .then(() => {
                                  location.reload();
                              });
                      },
                      error: function () {
                          Swal.fire('Error!', '수정에 실패했습니다.', 'error');
                      },
                  });
              }
          }).then((result) => {
              if (result.isConfirmed) {
              }
          });
      });

      $('#datatable-custom').DataTable({
          pageLength: 5,
      });
  </script>
</th:block>

<th:block layout:fragment="customContent">
  <div class="page-title">
    <div class="title">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="my-4">사업자관리</h2>

          <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
              </div>
            </li>
          </ul>

          <div class="clearfix"></div>
        </div>

        <div style="display: flex;">
          <button class="btn btn-outline-secondary add-button" type="submit">사업자등록</button>
        </div>

        <div class="x_content">
          <div class="row mb-3">
            <div class="col-md-6">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <div class="col-sm-12">
                  <div class="dataTables_wrapper container-fluid dt-bootstrap no-footer"
                       id="datatable-buttons_wrapper">


                    <table aria-describedby="datatable-buttons_info"
                           class="table table-striped table-bordered dataTable no-footer dtr-inline"
                           id="datatable-custom" role="grid"
                           style="width: 100%;">

                      <thead class="thead-dark">
                      <tr role="row">
                        <th>사업자코드</th>
                        <th>사업자이름</th>
                        <th>사업자종류</th>
                        <th>사업자번호</th>
                        <th>사업자주소</th>
                        <th>탈퇴여부</th>
                        <th>관리</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="odd" role="row" th:each="company : ${company}">
                        <td data-key="companyId" th:text="${company.companyId}"></td>
                        <td data-key="companyName" th:text="${company.companyName}"></td>
                        <td data-key="companyType" th:text="${company.companyType}"></td>
                        <td data-key="companyLicense" th:text="${company.companyLicense}"></td>
                        <td data-key="companyAddress" th:text="${company.companyAddress}"></td>
                        <td data-key="companyIsDeleted" th:text="${company.companyIsDeleted}"></td>
                        <td>
                          <button class="btn btn-outline-secondary edit-button" type="button">관리</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>
