<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <style>
      .dataTables_paginate .paginate_button {
          margin: 0 4px;
          padding: 6px 12px;
          color: #dddddd;
          background: #dddddd;
          border: 1px solid #dddddd;
          border-radius: 4px;
          cursor: pointer;
          text-decoration: none;
      }

      .status-light {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
      }

  </style>
</head>
<th:block layout:fragment="customJs">
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e43182b8fed7c7c5bc5dd2048b207a2b&libraries=services"
          type="text/javascript"></script>
  <script th:inline="javascript">
      setTimeout(function () {
          var mapContainer = document.getElementById('map'), // 지도를 표시할 div
              mapOption = {
                  center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                  level: 3 // 지도의 확대 레벨
              };

          // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
          var map = new kakao.maps.Map(mapContainer, mapOption);

          var geocoder = new kakao.maps.services.Geocoder();

          // 주소를 카카오맵에 연동시킬수 있기 자르기
          function sliceAddress(address) {
              var parts = address.split(' ');
              var slicedParts = parts.slice(1, -1);
              var slicedAddress = slicedParts.join(' ');

              return slicedAddress;
          }

          // address-search 함수
          function searchAddress(address) {
              var slicedAddress = sliceAddress(address);
              console.log(slicedAddress);

              geocoder.addressSearch(slicedAddress, function (results, status) {
                  console.log(status);
                  console.log(results);
                  // 정상적으로 검색이 완료됐으면
                  if (status === kakao.maps.services.Status.OK) {
                      var coords = new kakao.maps.LatLng(results[0].y, results[0].x);

                      // 결과값으로 받은 위치를 마커로 표시합니다
                      var marker = new kakao.maps.Marker({
                          map: map,
                          position: coords
                      });

                      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                      map.setCenter(coords);
                  }
              });
          }

          document.getElementById('companySelector').addEventListener('change', function (e) {
              console.log(e.target.value);  // Add this line
              searchAddress(e.target.value);
          });
      }, 500); // wait 500 milliseconds for the API to load


      const ctx = document.getElementById('chart').getContext('2d');

      const data = [[${companyTypeCounts}]];
      const labels = Object.keys(data);
      const values = Object.values(data);
      console.log(labels);
      console.log(values);

      const chart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: '사업자 종류별 수',
                  data: values,
                  backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(255, 205, 86, 0.2)'],
                  borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 205, 86, 1)'],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });


      const error = [[${error != null}]];
      if (error) {
          Swal.fire({
              icon: 'error',
              title: '웁스...',
              text: '에러입니다.'
          });
      }
      $('#datatable-custom').DataTable({
          "searching": false,
          "pageLength": 5,
          "dom": 'rtip',
      });

      $('#page-length').change(function () {
          table.page.len($(this).val()).draw();
      });
  </script>
</th:block>

<th:block layout:fragment="customContent">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- First panel starts here -->
        <div class="x_panel scrollable-panel">
          <div class="py-3 text-center">
            <h2>사업자 목록</h2>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <button class="btn btn-primary"
                      th:onclick="|location.href='@{/company/addCompany}'|"
                      type="button">사업자등록
              </button>
            </div>
          </div>

          <hr class="my-4">
          <div class="col-md-12">
            <table class="table dataTable no-footer dtr-inline"
                   id="datatable-custom" role="grid"
                   style="width: 100%;">
              <thead>
              <tr role="row">
                <th style="display: none">사업자코드</th>
                <th>사업자이름</th>
                <th>사업자번호</th>
                <th>사업자종류</th>
                <th style="display: none">사업자주소</th>
                <th>사업자상태</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="company : ${company}">
                <td data-key="companyId" style="display: none" th:text="${company.companyId}"></td>
                <td data-key="companyName"><a style="color: blue;" th:href="@{/company/{id}(id=${company.companyId})}"
                                              th:text="${company.companyName}"></a></td>
                <td data-key="companyLicense" th:text="${company.companyLicense}"></td>
                <td data-key="companyType" th:text="${company.companyType}"></td>
                <td data-key="companyAddress" style="display: none" th:text="${company.companyAddress}"></td>
                <td>
                  <span data-key="companyIsDeleted"
                        th:classappend="${company.companyIsDeleted == 'N'}
                        ? 'status-light bg-success' : 'status-light bg-danger'"></span>
                  <span th:text="${company.companyIsDeleted}"></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- First panel ends here -->
      </div>

      <div class="col-md-6">
        <!-- Second panel starts here -->
        <div class="x_panel scrollable-panel">
          <div class="py-3 text-center">
            <h2>사업자 현황</h2>
            <canvas id="chart"></canvas>
          </div>
        </div>
        <!-- Second panel ends here -->
      </div>
    </div>

    <!-- Third panel starts here -->
    <div class="x_panel scrollable-panel">
      <div class="py-3 text-center">
        <h2>사업자 위치</h2>

        <!-- Company selector -->
        <div class="form-group">
          <label for="companySelector">Select a company:</label>
          <select class="form-control" id="companySelector">
            <option th:each="company : ${company}" th:text="${company.companyName}"
                    th:value="${company.companyAddress}"></option>
          </select>
        </div>

        <!-- Map container -->
        <div id="map" style="height: 400px;"></div>


      </div>
    </div>
  </div>
</th:block>
</html>