<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="main_menu_side hidden-print main_menu" id="sidebar-menu" th:fragment="sidebarFragment">
  <div class="menu_section">

    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Home
        <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">소개</a></li>
          <li><a href="#">공지사항</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav side-menu">
      <li><a><i class="fa fa-adn"></i> 관리자페이지
        <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#" th:href="@{/admin/userView}"> 회원 관리</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav side-menu">
      <li><a><i class="fa fa-industry"></i> 사업자관리
        <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a th:href="@{/company/companyView}">사업자관리</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav side-menu">
      <li><a><i class="fa fa-cube"></i> 재고관리
        <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a th:href="@{/warehouse/warehouseView}">물류창고관리</a></li>
          <li><a th:href="@{/inventory/inventoryItemView}">재고관리</a></li>
          <li><a th:href="@{/inventory/inventoryRecordView}">재고기록관리</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav side-menu">
      <li><a><i class="fa fa-first-order"></i> 주문관리
        <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a th:href="@{/order/orderView}">주문관리</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav side-menu">
      <li><a><i class="fa fa-car"></i> 운송관리
        <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a th:href="@{/vehicle/vehicleView}">운송차량관리</a></li>
          <li><a href="#">산적관리</a></li>
          <li><a href="#">배송관리</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav side-menu">
      <li><a><i class="fa fa-mortar-board"></i> 게시판
        <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a th:href="@{/users/freeBoard}">자유게시판</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
</html>