<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<th:block layout:fragment="customJs">
  <script>
      new Vue({
          el: '#vue-app',
          data: {
              message: '통합 물류관리 시스템에 오신걸 환영합니다!!',
              shipments: [],
              vehicles: [],
              orders: []
          },
          methods: {
              fetchAndDisplayData: function () {
                  axios.get('/api/shipments')
                      .then(response => {
                          this.shipments = response.data;
                          this.displayChart();
                      })
                      .catch(error => {
                          console.log('Failed to fetch shipments: ' + error);
                      });

                  axios.get('/api/vehicles')
                      .then(response => {
                          this.vehicles = response.data;
                          this.displayChart();
                      })
                      .catch(error => {
                          console.log('Failed to fetch vehicles: ' + error);
                      });

                  axios.get('/api/orders')
                      .then(response => {
                          this.orders = response.data;
                          this.displayChart();
                      })
                      .catch(error => {
                          console.log('Failed to fetch orders: ' + error);
                      });
              },
              displayChart: function () {
                  if (this.orders.length > 0 && this.vehicles.length > 0 && this.shipments.length > 0) {
                      new Chart(document.getElementById('chart'), {
                          type: 'bar',
                          data: {
                              labels: ['Orders', 'Shipments', 'Vehicles'],
                              datasets: [{
                                  label: '항목수',
                                  data: [this.orders.length, this.shipments.length, this.vehicles.length],
                                  backgroundColor: [
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 206, 86, 0.2)'
                                  ],
                                  borderColor: [
                                      'rgba(255, 99, 132, 1)',
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(255, 206, 86, 1)'
                                  ],
                                  borderWidth: 1
                              }]
                          },
                          options: {
                              scales: {
                                  y: {
                                      beginAtZero: true
                                  },
                                  x: {
                                      barPercentage: 0.4
                                  }
                              }
                          }
                      });
                  }
              }
          },
          created: function () {
              this.fetchAndDisplayData();
          }
      });

  </script>
</th:block>
<th:block layout:fragment="customContent">
  <div class="container-fluid" id="vue-app">
    <div class="row">
      <div class="page-title">
        <h4>{{message}}</h4>
      </div>
      </br>

      <!-- Chart will be displayed in this div -->
      <div class="col-md-6">
        <div class="chart-wrapper">
          <canvas id="chart"></canvas>
        </div>
      </div>

      <!-- Your table data goes here... -->
      <div class="col-md-6">
        <h2>최근 주문정보</h2>
        <table>
          <thead>
          <tr>
            <th>주문코드</th>
            <th>발주회사</th>
            <th>주문날짜</th>
            <th>배송날짜</th>
            <th>상태</th>
          </tr>
          </thead>
          <tbody>
          <tr :key="order.orderId" v-for="order in orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.companyName }}</td>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.orderDeliveryDate }}</td>
            <td>{{ order.orderStatus }}</td>
          </tr>
          </tbody>
        </table>

        <h2>최근 운송수단정보</h2>
        <table>
          <thead>
          <tr>
            <th>운송수단코드</th>
            <th>운송수단종류</th>
            <th>운송수단상태</th>
          </tr>
          </thead>
          <tbody>
          <tr :key="vehicle.vehicleId" v-for="vehicle in vehicles">
            <td>{{ vehicle.vehicleId }}</td>
            <td>{{ vehicle.vehicleType }}</td>
            <td>{{ vehicle.vehicleStatus }}</td>
          </tr>
          </tbody>
        </table>

        <h2>최근 산적정보</h2>
        <table>
          <thead>
          <tr>
            <th>산적코드</th>
            <th>주문코드</th>
            <th>운송수단코드</th>
            <th>출발날짜</th>
            <th>도착날짜</th>
            <th>상태</th>
          </tr>
          </thead>
          <tbody>
          <tr :key="shipment.shipmentId" v-for="shipment in shipments">
            <td>{{ shipment.shipmentId }}</td>
            <td>{{ shipment.orderId }}</td>
            <td>{{ shipment.vehicleId }}</td>
            <td>{{ shipment.departureDate }}</td>
            <td>{{ shipment.arrivalDate }}</td>
            <td>{{ shipment.shipmentStatus }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>
